<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-2">
      <div class="photo">
        <%= link_to post do %>
          <%= image_tag(post.photo, size: "100") %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="title">
        <h2><%= post.title %></h2>
        <%= link_to 'Editar', edit_post_path(post) %>
        <%= link_to 'Apagar', post, method: :delete, data: { confirm: 'Você tem certeza?' } %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="author">
        Postado por <strong><%= post.user.email %></strong>
      </div>
    </div>
  </div>

  <hr>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="text-md-center">
      <%= will_paginate @posts %>
    </div>
  </div>
</div>